/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-background-color: #ff0070;
  --accent-background-color-page:#000028;
  --accent-color-h1:#db00ff;
  --accent-article_text:#f1b2ce;
  --accent-rec-display:flex;
}

@media ( prefers-color-scheme: dark) {
  :root {
  --accent-background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-background-color: #ff0070;
  --accent-background-color-page:#000028;
  --accent-color-h1:#db00ff;
  --accent-article_text:#f1b2ce;
  --accent-rec-display:flex;
  }
}
