/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--accent-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  background-color: var(--accent-background-color-page);
  background-image: var(--accent-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin-inline: var(--margin-offset);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: var(--margin-offset);
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid;
  border-right: 1px solid;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: var(--margin-offset);
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.header__theme-menu {
  display: flex;
  justify-self: center;
  padding-block-start: var(--margin-offset);
}
.header_decorated-text {
  position: absolute;
  top: var(--margin-offset);
  right: 0;
  display: var(--accent-rec-display);
  text-transform: uppercase;
}

.header_decorated-text:after {
  content: "";
  display: flex;
  width: 9px;
  height: 9px;
  margin: 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px;
  background-color: var(--accent-background-color);
}

.logo__title {
  display: block;
  color: var(--accent-color-h1);
  font-weight: 700;
  font-size: var(--logo-font-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-background-color);
}

.header__title {
  margin-inline-start: calc(-1 * var(--margin-offset));
}

.header_text {
  display: block;
  justify-self: flex-end;
  align-self: center;
  width: calc(50vw - var(--margin-offset));
  margin-block-end: var(--margin-offset);
  font-weight: 700;
  line-height: 130%;
}
.title_decor {
  color: #000028;
  background-color: var(--accent-background-color);
}
.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 14px 0 14px;
  outline: none;
  text-transform: lowercase;
  background-color: inherit;
}

.header__theme-menu-button_active {
  pointer-events: none; 
  border: 1px solid;
}

.header__theme-menu-button:hover {
  border-color: var(--accent-background-color) / 0.4;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-inline: var(--margin-offset);
}

.footer_title {
  margin-inline-start: calc(-1 * var(--margin-offset));
}
