/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--accent-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  background-image: var(--accent-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  margin-inline: var(--margin-header-right);
}

.header::after,
.header::before,
.footer::after,
.footer::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.header:after,
.footer::after {
  top: var(--margin-header-right);
  right: 0;
  border-top: 1px solid;
  border-right: 1px solid;
}

.header::before,
.footer::before {
  bottom: var(--margin-header-right);
  left: 0;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.header__theme-menu {
  display: flex;
  justify-self: center;
  padding-block-start: var(--margin-header-right);
}
.header_decorated-text {
  position: absolute;
  top: var(--margin-header-right);
  right: 0;
  display: var(--accent-rec-display);
}

.header_decorated-text:after {
  content: "";
  display: flex;
  width: 9px;
  height: 9px;
  margin: 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px;
  background-color: var(--accent-background-color);
}

.header__title {
  display: block;
  color: var(--accent-color-h1);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-background-color);
}
.header__title_margin {
  margin-inline-start: calc(-1 * var(--margin-header-right));
}

.header_text {
  display: block;
  justify-self: flex-end;
  align-self: center;
  width: calc(50vw - var(--margin-header-right));
  margin-block-end: var(--margin-header-right);
  font-weight: 700;
  line-height: 130%;
}
.title_decor {
  color: #000028;
  background-color: var(--accent-background-color);
}
.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 14px 0 14px;
  outline: none;
  text-transform: lowercase;
  background-color: inherit;
}

.header__theme-menu-button_active {
  border: 1px solid;
}
.header__theme-menu-button_active:focus {
  text-underline-offset: 6px;
}
.header__theme-menu-button_active:hover {
  border-color: var(--accent-background-color) / 0.5;
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 6px;
}


.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: var(--margin-header-right);
}

.footer_title {
  margin-inline-start: calc(-1 * var(--margin-header-right));
}



